@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8u4xyt');
  src:  url('../fonts/icomoon.eot?8u4xyt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8u4xyt') format('truetype'),
    url('../fonts/icomoon.woff?8u4xyt') format('woff'),
    url('../fonts/icomoon.svg?8u4xyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Education-Loan:before {
  content: "\e912";
  color: #606060;
}
.icon-Double-quote-upper:before {
  content: "\e913";
  color: #606060;
}
.icon-Double-quote-Lower:before {
  content: "\e914";
  color: #606060;
}
.icon-Back:before {
  content: "\e911";
  color: #606060;
}
.icon-Home-Loan:before {
  content: "\e900";
  color: #606060;
}
.icon-Gold-Loan:before {
  content: "\e901";
  color: #606060;
}
.icon-Commercial-Loan:before {
  content: "\e902";
  color: #606060;
}
.icon-Business-Loan:before {
  content: "\e903";
  color: #606060;
}
.icon-Personal-Loan:before {
  content: "\e904";
  color: #606060;
}
.icon-Vehicle-Loan:before {
  content: "\e905";
  color: #606060;
}
.icon-Group-Individual-lending:before {
  content: "\e906";
  color: #606060;
}
.icon-Small-finance-bank:before {
  content: "\e907";
  color: #606060;
}
.icon-Non-Banking-Financial-Companies:before {
  content: "\e908";
  color: #606060;
}
.icon-Consumer-lending:before {
  content: "\e909";
  color: #606060;
}
.icon-Microfinance-Institutions:before {
  content: "\e90a";
  color: #606060;
}
.icon-Credit-Unions:before {
  content: "\e90b";
  color: #606060;
}
.icon-Right-Arrow:before {
  content: "\e90c";
  color: #606060;
}
.icon-Next:before {
  content: "\e90d";
  color: #606060;
}
.icon-Build-Trust:before {
  content: "\e90e";
  color: #606060;
}
.icon-Close-more-loans-faster:before {
  content: "\e90f";
  color: #606060;
}
.icon-Empower-Loan-officer:before {
  content: "\e910";
  color: #606060;
}
