.widget-tech{
    padding:95px 0;
}
.widget-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.row-10{
    margin:0 -10px;
    >div{
        padding:0 10px;
    }
}
.wg-box-wh{
    padding-top:35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    .wg-slice-img{
        padding-bottom: 40px;
    }
   
    .wg-slice-box{
        padding:0 10px;
        padding-bottom: 7px;
        padding-top:8px; 
        position: relative;
        &:before{
            position: absolute;
            top: -18px;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            transform: skew(0deg, -12deg);
            z-index: 1;
        }
        p{
            font-size: 13px;
            color:#fff;
            z-index: 9;
            position: relative;
        }
    }
    .orange-1{
        background-color: #facb3b;
        &:before{
            background-color: #facb3b;
        }
    }
    .orange-2{
        background-color: #f7ae2d;
        &:before{
            background-color: #f7ae2d;
        }
    }
    .orange-3{
        background-color: #F48521;
        &:before{
            background-color: #F48521;
        }
    }
}
.helvetica{
    font-family:Helvetica;
    
   
        p{
            font-family:Helvetica;
        }
    
}