.widget-tech {
  padding: 95px 0;
}

.widget-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.row-10 {
  margin: 0 -10px;
}

.row-10 > div {
  padding: 0 10px;
}

.wg-box-wh {
  padding-top: 35px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

.wg-box-wh .wg-slice-img {
  padding-bottom: 40px;
}

.wg-box-wh .wg-slice-box {
  padding: 0 10px;
  padding-bottom: 7px;
  padding-top: 8px;
  position: relative;
}

.wg-box-wh .wg-slice-box:before {
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transform: skew(0deg, -12deg);
          transform: skew(0deg, -12deg);
  z-index: 1;
}

.wg-box-wh .wg-slice-box p {
  font-size: 13px;
  color: #fff;
  z-index: 9;
  position: relative;
}

.wg-box-wh .orange-1 {
  background-color: #facb3b;
}

.wg-box-wh .orange-1:before {
  background-color: #facb3b;
}

.wg-box-wh .orange-2 {
  background-color: #f7ae2d;
}

.wg-box-wh .orange-2:before {
  background-color: #f7ae2d;
}

.wg-box-wh .orange-3 {
  background-color: #F48521;
}

.wg-box-wh .orange-3:before {
  background-color: #F48521;
}

.helvetica {
  font-family: Helvetica;
}

.helvetica p {
  font-family: Helvetica;
}
/*# sourceMappingURL=los.css.map */