$primary-color: #f7921e;


.lending-solutions{
    padding: 50px 0px;
    h3{
        max-width: 370px;
        margin-bottom: 30px;
        font-family:Helvetica;
    }
    .left-content{
        p{
            max-width: 435px;
        }
    }
    
    .qa{
        margin-top: 95px;
        .accordion .card-header h2 button {
            background: #b3b3b3;
            text-transform: capitalize;
            color: #fff;
        }
    }
    img.cloud-based{
        max-width: 75%;
    }
    .right-content{
        .card-body{
            padding: 10px 20px;
        }
    }
}
.accordion .card-header h2 button[aria-expanded="true"] {
    background: #f7921e!important;
    color: #fff;
}
.uno{
    overflow: hidden;
    padding: 50px;
    font-family:Helvetica;
    .left-content{
        h3{
            max-width: 620px;
            color: #fff;
        }
    }
}
/*.left-section{
    background-color: $primary-color;
}*/

.uno-unique{
    background-color: #f7921e;
    padding: 50px 0px;
    /*max-width: 100rem;*/
    margin: 0px auto;
    .box{
        min-height: 195px;
        background-color: #fff;
        max-width: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        p{
            text-align: center;
        }
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    
}
ul.uno-list li:nth-child(1),ul.uno-list li:nth-child(2),ul.uno-list li:nth-child(3){
    margin-bottom: 30px;
}
.heading-text-white{
    color: #fff;
}
.book-demo{
    padding: 50px 0px;
    p{
        font-size: 25px;
        color: #000200;
        font-family: 'Helvetica';
        max-width: 660px;
        margin: 0px auto;
    }
    a.btn{
        background: #F7921F;
        color: #fff;
        margin-top: 20px;
        font-family: 'Helvetica';
    }
}
.we-serve{
    background-image: url('../img/CFO-img/CFO-segments-we-serv.jpg');
    padding: 120px 0px;
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat;
    h3{
        position: absolute;
        max-width: 20%;
        font-size: 45px;
        color: #fff;
        font-family: 'Helvetica';
    }
    .right-content{
        min-height: 300px;
    }
    ul.services{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        min-height: 320px;
        li{

            div{
                width: 90px;
                height: 90px;
                background: #f7921e;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 45px;
                margin: 0px auto;
            }
            p{
                font-family: 'Helvetica';
                padding: 10px 0px;
                text-align: center;
            }
        }
    }
}

/*ul.services li:nth-child(odd) {
    display: inline;
}
ul.services li:nth-child(even) {
    position: relative;
    top: 169px;
}*/
.testimonial-sec{
    padding-top: 50px;
}
.testimonial-content{
    max-width: 600px;
    margin-left: 50px;
    p{
        padding: 40px 0px 15px;
    }
}
.testimonial-content p::before{
    content: "";
    background-image: url("../img/CFO-img/Testimonial-double-quote.png");
    position: absolute;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50px, -15px);
}
.testimonial-content p::after{
    content: "";
    background-image: url("../img/CFO-img/Testimonial-double-quote2.png");
    position: absolute;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(50px, 15px);
}
.who-are{
    float: right;
    .name{
        margin-bottom: 0px;
        color: #f7921e;
    }
}
.uno .left-section::before{
    position: absolute;
    right: 0;
    top: -100px;
    content: "";
    height: 383%;
    width: 200%;
    background: #f7921e none repeat scroll 0 0;
    z-index: -1;
}
.uno .right-section::before{
    position: absolute;
    left: 0;
    top: -100px;
    content: "";
    height: 383%;
    width: 200%;
    background: #f4a01c none repeat scroll 0 0;
    z-index: -1;
}
#weserve{
    overflow: hidden;
}
#weserve .left-section::before{
    position: absolute;
    right: 0;
    top: -130px;
    left: -571px;
    content: "";
    height: 383%;
    width: 252%;
    background: #f7921e none repeat scroll 0 0;
    transform: skew(-15deg);
}