@charset "UTF-8";
@font-face {
  font-family: FreightDisp Pro;
  src: url("../fonts/3812C8_4_0.ttf") format("ttf"), url("../fonts/3812C8_4_0.woff") format("woff2"), url("../fonts/3812C8_4_0.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Graphik Web;
  src: url("../fonts/Graphik-Extralight-Web.ttf") format("ttf"), url("../fonts/Graphik-Extralight-Web.woff2") format("woff2"), url("../fonts/Graphik-Extralight-Web.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Graphik Web;
  src: url("../fonts/Graphik-Light-Web.ttf") format("ttf"), url("../fonts/Graphik-Light-Web.woff2") format("woff2"), url("../fonts/Graphik-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Graphik Web;
  src: url("../fonts/Graphik-Regular-Web.ttf") format("ttf"), url("../fonts/Graphik-Regular-Web.woff2") format("woff2"), url("../fonts/Graphik-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Graphik Web;
  src: url("../fonts/Graphik-Medium-Web.ttf") format("ttf"), url("../fonts/Graphik-Medium-Web.woff2") format("woff2"), url("../fonts/Graphik-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/helvetica-light.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica-Oblique.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  font-weight: 300;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: serif;
}

h6 {
  font-size: 13px;
}

.text-white {
  color: #fff !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sec-tit h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.line-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.line-bg svg {
  width: 100%;
  color: #ffc30d;
}

.product-sec {
  padding: 43px 0px 55px;
  position: relative;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-inline {
  padding: 0;
  margin: 0;
}

.list-inline li {
  display: inline-block;
}

.lowercase {
  text-transform: lowercase !important;
}

.product-wrap {
  position: relative;
  -webkit-box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 15px;
}

.product-wrap a {
  padding: 24px 16px;
  color: inherit;
  display: block;
  background-color: #fff;
  border-radius: 15px;
}

.product-wrap h2 {
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-wrap h2 {
    font-size: 16px;
  }
}

.product-wrap p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 25px;
}

.product-wrap img {
  height: 160px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .product-wrap img {
    height: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-wrap img {
    height: 80px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .product-wrap img {
    height: 80px;
  }
}

.product-wrap .arrow {
  text-align: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.product-wrap .arrow svg {
  width: 30px;
  height: 30px;
  color: #ffc30d;
}

.product-wrap a {
  border-style: solid;
  border-width: 6px;
}

@media screen and (max-width: 767px) {
  .product-wrap a {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .product-wrap a h2 {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .product-wrap a img {
    height: 120px;
  }
}

.product1 a {
  border-color: #ff5a5d;
}

.product2 a {
  border-color: #ffb700;
}

.product3 a {
  border-color: #319cd4;
}

.product4 a {
  border-color: #a1d461;
}

.fill-product .product-wrap a {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 16px;
  border: none !important;
}

.fill-product .product-wrap a h2 {
  color: #fff !important;
}

.fill-product .product1 a {
  background-color: #ff5a5d;
}

.fill-product .product2 a {
  background-color: #ffb700;
}

.fill-product .product3 a {
  background-color: #319cd4;
}

.fill-product .product4 a {
  background-color: #a1d461;
}

header {
  height: 100px;
  border-top: 5px solid #3ec3b5;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0 0 5px #00000021;
          box-shadow: 0 0 5px #00000021;
}

header .col1 {
  margin-right: 4rem;
}

header .col2 {
  width: auto;
  display: block;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;
}

header .col3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (min-width: 1161px) and (max-width: 1400px) {
  header .col3 {
    margin: 0 10px;
  }
}

header .col4 {
  margin-left: 3rem;
  margin-right: 3rem;
}

@media screen and (min-width: 1161px) and (max-width: 1400px) {
  header .col4 {
    margin: 0 10px;
  }
}

header .col5 {
  margin-left: 1rem;
  width: auto;
}

header .head-content {
  padding: 24px 0;
}

header .head-content .logo a img {
  height: 45px;
}

header .head-content .toggle-col {
  max-width: 70px;
  cursor: pointer;
}

header .head-content .toggle-col .toggle-btn svg {
  color: #939398;
  height: 38px;
  width: 38px;
}

header .head-text a {
  font-size: 1.125rem;
  color: #939398;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

header .head-text a .n-icon {
  margin-left: 8px;
  line-height: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .head-text a .n-icon svg {
  height: 25px;
  width: 25px;
}

header .head-text a:hover {
  color: #000;
}

header .head-text a:hover .n-icon {
  margin-left: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.lending header {
  border-top: 5px solid #ff5a5d;
}

.insurance header {
  border-top: 5px solid #ffb700;
}

.retail header {
  border-top: 5px solid #319cd4;
}

.digital header {
  border-top: 5px solid #a1d461;
}

.lending .module1-content .cls-1 {
  fill: #ff5a5d;
}

.insurance .module1-content .cls-1 {
  fill: #ffb700;
}

.retail .module1-content .cls-1 {
  fill: #319cd4;
}

.digital .module1-content .cls-1 {
  fill: #a1d461;
}

.home-ban-section {
  min-height: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px 0 0px;
  position: relative;
}

.home-ban-section .ban-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.home-ban-section .col-left {
  padding-right: 1rem;
  padding-top: 6rem;
  padding-left: 20rem;
  max-width: 55rem;
  width: 50%;
}

.home-ban-section .ab-col-left {
  padding-right: 1rem;
  padding-top: 6rem;
  padding-left: 20rem;
  max-width: 55rem;
  width: 50%;
}

.home-ban-section .ban-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home-ban-section .ab-ban {
  bottom: 0%;
}

.home-ban-section .col-right {
  padding-bottom: 2rem;
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 50%;
}

.home-ban-section .ban-content h2 {
  font-size: 3rem;
  color: #2a2a32;
}

.home-ban-section .ban-content p {
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 30px;
}

.ab-sec {
  padding: 0px 40px;
  max-width: 1570px;
  margin: auto;
  margin-top: 160px;
}

.ab-sec .col {
  width: 50%;
  padding: 5px 14px;
}

.ab-sec .col h2 {
  font-size: 3rem;
  font-family: serif;
  font-weight: 300;
  padding: 50px 0px 0;
}

.ab-relative {
  background-color: #3ec3b5;
  position: relative;
}

.ab-relative .re-col {
  width: 50%;
  padding: 24px 55px;
}

.ab-relative .re-col .content {
  max-width: 100%;
}

.ab-relative .re-col .content-home {
  margin-left: 0;
  max-width: 100%;
}

.ab-relative .rel-img {
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0px;
}

.ab-relative .rel-img img {
  width: 100%;
}

.ab-relative:after {
  content: "";
  background: rgba(62, 195, 181, 0.42);
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  bottom: 0;
}

.nbg-dark {
  background: #343a40;
}

.lending .nbg-dark {
  background: #ff5a5d;
}

.insurance .nbg-dark {
  background: #ffb700;
}

.retail .nbg-dark {
  background: #319cd4;
}

.digital .nbg-dark {
  background: #a1d461;
}

.nbg-light {
  background: #f9f9f9;
}

.lending .nbg-light {
  background: #ffbfc3;
}

.insurance .nbg-light {
  background: rgba(255, 205, 7, 0.6);
}

.retail .nbg-light {
  background: #92daff;
}

.digital .nbg-light {
  background: #d4ff9d;
}

.finance-sec .content-wrap {
  margin: 0 auto;
}

.finance-sec .content-wrap .content {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50%;
}

.finance-sec .content-wrap .content h3 {
  font-size: 1rem;
  position: relative;
}

.finance-sec .content-wrap .content h3::before {
  content: "";
  height: 1px;
  width: 26px;
  position: absolute;
  left: -39px;
  top: 9px;
  background: #000;
}

.thought-sec {
  padding: 43px 55px;
}

.new-sec {
  padding: 80px 0px 0;
  position: relative;
  overflow: hidden;
}

.new-sec .news-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.new-sec .news-bg svg {
  width: 100%;
  color: #ffc30d;
}

.new-sec .tit h2 {
  font-size: 3rem;
  text-align: center;
  color: #2a2a32;
}

.new-sec .news-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px 60px;
}

.new-sec .news-wrap .news {
  width: 25%;
  padding: 0 50px;
}

.new-sec .news-wrap .news a {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: block;
  color: inherit;
  background: #fff;
}

.new-sec .news-wrap .news a h4 {
  font-size: 22px;
}

.new-sec .news-wrap .news a p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 25px;
}

.new-sec .news-wrap .news a .arrow {
  text-align: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.new-sec .news-wrap .news a .arrow svg {
  width: 30px;
  height: 30px;
  color: #ffc30d;
}

.new-sec .news-wrap .news:hover a {
  background: #3ec3b5;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.new-sec .news-wrap .news:hover .arrow {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.more-award {
  text-align: center;
}

.team-sec .team-wrap {
  max-width: 70rem;
  margin: 0 auto;
}

.team-sec .team-wrap .team {
  max-width: 70rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.team-sec .team-wrap .team .column {
  width: 50%;
}

.team-sec .team-wrap .team img {
  height: 330px;
}

.team-sec .team-wrap .team .content h5 {
  font-size: .875rem;
}

.team-sec .team-wrap .team .content h2 {
  font-family: serif;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 23px 0;
}

.team-sec .team-wrap .team .content p {
  margin-bottom: 20px;
}

.blog-sec {
  padding: 140px 0 120px;
  padding-top: 50px;
  position: relative;
}

.blog-sec .blog-content {
  max-width: 100rem;
  margin: 0 auto;
  padding-left: 4rem;
}

.blog-sec .blog-content .col-left {
  width: 50%;
}

.blog-sec .blog-content .col-left .content {
  background-color: #3ec3b5;
  z-index: 99;
  padding: 5rem 9rem 9rem 5rem;
}

.blog-sec .blog-content .col-right {
  width: 50%;
}

.blog-sec .blog-content .col-right .content {
  background-color: #f9f9f9;
  -webkit-transform: translateX(-6rem);
          transform: translateX(-6rem);
  margin-top: 55px;
  padding: 5rem 9rem 19rem 5rem;
}

.blog-sec .blog-content .content h2 {
  font-size: 3rem;
}

.blog-sec .blog-content .content p {
  margin-bottom: 4rem;
  padding-top: 4px;
}

.blog-sec .blob-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.blog-sec .blob-bg svg {
  width: 100%;
  border: 0 solid #dae4e9;
}

#footer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer {
  padding-left: 3rem;
  width: 100%;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

footer .col-link {
  width: 16.6666%;
  padding: 2rem 2rem 0;
}

footer .col-content {
  width: 50%;
  padding: 2rem 5rem 0;
}

footer .col-social {
  width: auto;
  padding: 2rem 2rem 0;
}

footer .col-founder {
  width: 580px;
}

footer .foot-list ul {
  padding: 0;
  list-style: none;
}

footer .foot-list ul li {
  display: block;
  margin-bottom: 7px;
}

footer .foot-list ul li a {
  color: inherit;
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer .foot-list ul li a svg {
  color: #2a2a32;
  height: 20px;
  margin-bottom: 25px;
}

footer img {
  width: 100%;
}

footer .founder {
  position: relative;
}

footer .founder::after {
  content: "";
  height: 40px;
  bottom: 0;
  width: 100%;
  background: transparent;
  left: 0;
  position: absolute;
}

.copywrite {
  background-color: #3ec3b5;
}

.copywrite p {
  margin: 0;
  padding: 1rem 3rem;
}

.copywrite p span {
  font-weight: 500;
}

.lending .copywrite {
  background-color: #ff5a5d;
}

.insurance .copywrite {
  background-color: #ffb700;
}

.retail .copywrite {
  background-color: #319cd4;
}

.digital .copywrite {
  background-color: #a1d461;
}

.open {
  float: right;
}

.close {
  display: none;
}

.overflow {
  overflow: hidden;
}

.toggle-header {
  background: transparent !important;
}

.toggle-header .head-content .t-h {
  visibility: hidden;
}

.toggle-header .head-content .col .head-text a {
  display: none;
}

.toggle-header .head-content .toggle-col .open {
  display: none;
}

.toggle-header .head-content .toggle-col .close {
  display: block;
}

.pop-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 100vh;
  overflow: hidden;
  display: none;
  z-index: 9;
}

.pop-menu .pop-content {
  height: 100vh;
  overflow-y: auto;
}

.pop-menu .pop-content .left {
  width: 66.666666%;
  padding: 9rem 10rem;
}

.pop-menu .pop-content .left .menu-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pop-menu .pop-content .left .menu-list ul li {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 500px;
}

.pop-menu .pop-content .left .menu-list ul li a {
  font-size: 3rem;
  color: inherit;
  font-family: serif;
}

.pop-menu .pop-content .left .menu-list ul li a span {
  padding-left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pop-menu .pop-content .left .menu-list ul li a span svg {
  width: 28px;
  height: 28px;
}

.pop-menu .pop-content .left .menu-list ul li a:hover span {
  padding-left: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pop-menu .pop-content .right {
  width: 33.33333%;
  background-color: #f9f9f9;
  padding: 9rem 3rem 1rem;
}

.pop-menu .pop-content .right .content h3 {
  font-size: 1.125rem;
  margin: 30px 0px;
}

.pop-menu .pop-content .right .content h5 {
  font-size: .875rem;
}

.pop-menu .pop-content .right .content a {
  margin: 20px 0;
  margin: 32px 0 46px;
}

.pop-menu .pop-content .right .content p {
  font-size: 1.125rem;
  color: #939398;
  margin-bottom: 30px;
}

.toggle-pop {
  display: block;
}

.in-module {
  padding-top: 0px;
  background-color: #3ec3b5;
  padding-bottom: 130px;
}

.module-link {
  position: relative;
  height: 250px;
}

.module-link .link-box {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 400px;
  height: 300px;
  background: #fff;
  background: #fff;
  top: -62%;
  left: 0;
  padding: 2rem;
}

.module-link .link-box h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.module-link .link-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.module-link .link-box ul li {
  padding: 6px 0;
  font-size: 1rem;
}

.module-link .link-box ul li a {
  color: #888888;
}

.module-link .link-box ul li a span svg {
  height: 16px;
  padding-left: 5px;
}

.module-link .link-box ul li .devid {
  height: 1px;
  background: #dae4e9;
  margin: 14px 0;
}

svg {
  height: auto !important;
}

.social {
  margin-bottom: 20px;
}

.social li a {
  display: block;
  margin: 0 10px 0 0 !important;
}

.social li a svg {
  width: 30px;
  height: 30px;
}

.social li a svg .cls-1, .social li a svg .cls-2 {
  stroke: #000000;
  stroke-width: 1;
}

.social li a svg .cls-2 {
  fill: #000;
}

.owl-thought .owl-nav {
  margin-top: 10px;
  text-align: right;
}

.owl-thought .owl-nav .owl-prev, .owl-thought .owl-nav .owl-next {
  border: 1px solid #3ec3b5 !important;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-left: 26px;
  color: #ffffff !important;
  font-size: 28px !important;
  text-align: center;
  line-height: 0 !important;
  background: #3ec3b5 !important;
}

.owl-thought .owl-nav .owl-prev:focus, .owl-thought .owl-nav .owl-next:focus {
  outline: none;
}

.btn-primary {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #3ec3b5;
  padding: .5rem 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ffffff;
  font-weight: 500;
  line-height: 1;
  letter-spacing: .0125em;
  border-radius: .25rem;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  height: 50px;
}

.btn-primary span {
  line-height: 0;
  padding-left: 13px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-primary span svg {
  width: 20px;
  height: 20px;
}

.btn-primary:hover {
  background-color: #3ec3b5;
  color: #ffffff;
}

.btn-primary:hover span {
  padding-left: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.lending .btn-primary {
  background-color: #ff5a5d;
  color: #ffffff;
}

.lending .btn-primary:hover {
  background-color: #ff5a5d;
  color: #fff;
}

.insurance .btn-primary {
  background-color: #ffb700;
  color: #ffffff;
}

.retail .btn-primary {
  background-color: #319cd4;
  color: #ffffff;
}

.digital .btn-primary {
  background-color: #a1d461;
  color: #ffffff;
}

.btn-white {
  margin: 40px 0;
  background-color: #fff !important;
  color: #000 !important;
}

.btn-white:hover {
  background-color: #3ec3b5;
  background-color: #fff !important;
  color: #000 !important;
}

.btn-link {
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  overflow: hidden;
  color: #2a2a32;
  font-weight: 500;
  padding: 0;
}

.btn-link span {
  line-height: 0;
  padding-left: 13px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-link span svg {
  width: 20px;
  height: 20px;
}

.btn-link:hover span {
  padding-left: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.sLink {
  position: relative;
  top: -100px;
}

.row-fix {
  margin: 0 -15px;
}

.ab-lending {
  text-align: center;
  background-color: #f9f9f9;
}

.ab-lending h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.ab-lending p {
  padding-bottom: 50px;
}

.ab-lending .ab-len-content {
  border: 1px solid #efefef;
  padding: 20px;
}

.sec-pad {
  padding: 43px 0 50px;
}

.bg-gray {
  background-color: #fbfbfb;
}

.mb30 {
  margin-bottom: 30px;
}

.ml30 {
  margin-left: 30px;
}

.pr30 {
  padding-right: 30px;
}

@media only screen and (max-width: 1600px) {
  .home-ban-section .ban-content h2 {
    font-size: 2.5rem;
  }
  .home-ban-section .col-left {
    padding-right: 1rem;
    padding-top: 4rem;
    padding-left: 7rem;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .ab-relative .rel-img {
    bottom: 14rem;
  }
  .wrap2 {
    padding: 0px 0px;
  }
  .ab-sec .col h2 {
    font-size: 2.4rem;
    padding: 26px 0px;
  }
  .new-sec .news-wrap .news a {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .new-sec .news-wrap .news {
    padding: 0 30px;
  }
  .team-sec .team-wrap .team {
    margin-top: 4rem;
  }
  .btn-white {
    margin: 15px 0;
  }
  footer img {
    width: 100%;
  }
  .blog-sec .blog-content .col-left .content {
    padding: 5rem 9rem 6rem 5rem;
  }
  .blog-sec .blog-content .col-right .content {
    padding: 5rem 9rem 11rem 5rem;
  }
  .home-ban-section .ban-bg {
    bottom: 3%;
  }
  .blog-sec .blog-content .content h2 {
    font-size: 2rem;
  }
  footer .col-content {
    padding: 1rem 2rem;
  }
  footer .col-social {
    padding: 1rem 2rem;
  }
  footer .col-link {
    padding: 1rem 2rem;
  }
  .pop-menu .pop-content .left {
    padding: 7rem 4rem 1rem;
  }
  .pop-menu .pop-content .left .menu-list ul li a {
    font-size: 2.2rem;
  }
  .pop-menu .pop-content .left .menu-list ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .home-ban-section .ab-col-left {
    max-width: 35rem;
  }
}

@media (max-width: 991px) {
  .sec-tit h2 {
    font-size: 2rem;
  }
  .product-wrap {
    margin-bottom: 20px;
  }
  .home-ban-section .col-right {
    position: static;
  }
  header {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 60px;
  }
  .hide-mb {
    display: none !important;
  }
  header .col1 {
    margin-right: 0rem;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  header .head-content {
    padding: 10px 0;
  }
  header .head-content .logo a img {
    height: 32px;
  }
  .home-ban-section .col-left {
    width: 100%;
    text-align: center;
  }
  .home-ban-section .col-left {
    padding-right: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }
  .home-ban-section {
    padding: 0px 0 0px;
    min-height: 100%;
  }
  .home-ban-section .col-right {
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    width: 100%;
    text-align: center;
  }
  .home-ban-section .ban-content h2 {
    font-size: 1.875rem;
  }
  .home-ban-section .ban-bg {
    position: static;
    padding: 23px 0;
  }
  .ab-sec {
    margin-top: 0rem;
    padding: 0px 15px;
  }
  .ab-sec .col {
    width: 100%;
  }
  .ab-sec .col h2 {
    font-size: 1.5rem;
    padding: 0px 0px;
    text-align: center;
  }
  .ab-relative .re-col {
    width: 100%;
    padding: 3rem 13px;
  }
  .ab-relative .rel-img {
    position: static;
    right: 0;
    width: 100%;
    bottom: 0;
  }
  .ab-relative:after {
    background: transparent;
  }
  .finance-sec .content-wrap .content {
    padding-left: 4rem;
    padding-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  .finance-sec {
    padding: 36px 0;
  }
  .new-sec {
    padding: 31px 0px 0;
  }
  .new-sec .tit h2 {
    font-size: 2rem;
  }
  .new-sec .news-wrap {
    padding: 20px 0;
  }
  .new-sec .news-wrap .news {
    width: 100%;
    padding: 0 20px;
  }
  .new-sec .news-wrap .news a {
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 30px;
  }
  .btn-white {
    margin: 0px 0;
  }
  .team-sec .team-wrap .team {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .team-sec .team-wrap .team .column {
    width: 100%;
  }
  #footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team-sec .team-wrap .team img {
    height: auto;
    margin-bottom: 19px;
  }
  .team-sec .team-wrap .team .content h2 {
    font-size: 1.5rem;
  }
  .blog-sec .blog-content {
    padding-left: 0;
  }
  .blog-sec {
    padding: 50px 0 220px;
  }
  .blog-sec .blog-content .col-left, .blog-sec .blog-content .col-right {
    width: 100%;
  }
  .blog-sec .blog-content .col-left .content {
    padding: 3rem 2rem 3rem 2rem;
  }
  .blog-sec .blog-content .content h2 {
    font-size: 1.5rem;
  }
  .blog-sec .blog-content .content p {
    margin-bottom: 1rem;
  }
  .blog-sec .blog-content .col-right .content {
    padding: 3rem 2rem 3rem 2rem;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
    margin-top: 0;
  }
  .blog-sec {
    padding: 50px 0 60px;
  }
  footer {
    display: block;
    padding-left: 0rem;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  footer .col-link {
    width: 100%;
    padding: 1rem 1rem;
  }
  footer .col-social {
    width: auto;
    padding: 1rem 1rem;
  }
  footer .col-content {
    width: 100%;
    padding: 1rem 1rem;
  }
  footer .col-founder {
    width: 100%;
  }
  footer .social-list ul li {
    display: inline-block;
  }
  footer .foot-list ul li a svg {
    margin-bottom: 0;
  }
  footer .foot-list ul {
    margin-bottom: 0;
  }
  .copywrite p {
    margin: 0;
    padding: 1rem 1rem;
    text-align: center;
  }
  footer .founder::after {
    background: transparent;
  }
  .pop-menu .pop-content .left {
    width: 100%;
    padding: 4rem 1rem 1rem;
  }
  .pop-menu .pop-content .left .menu-list ul li {
    margin-top: .7rem;
    margin-bottom: 0rem;
  }
  .pop-menu .pop-content .left .menu-list ul li a {
    font-size: 1.2rem;
  }
  .pop-menu .pop-content .right {
    width: 100%;
    padding: 1rem 1rem;
  }
  .toggle-header {
    background: #fff !important;
  }
  .module-link .link-box {
    width: 100%;
    padding: 1rem;
    right: 0;
  }
  .module-link {
    height: 210px;
  }
  .in-module {
    padding-bottom: 20px;
  }
  .wrap2 {
    padding: 36px 17px;
  }
  .wrap2 ul {
    padding: 0;
  }
  .wrap2 ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrap2 ul li p {
    font-size: 17px;
  }
  .wrap2-h4 {
    padding-left: 0;
    padding-top: 5px;
  }
  .wrap2-h4 h4 {
    line-height: 1.6;
  }
  .wrap4-img {
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 38px;
  }
  .sec4 {
    padding-top: 44px;
  }
  .module1-content h3 {
    font-size: 32px;
  }
  .ab-lending h2 {
    font-size: 1.5rem;
  }
  .text-fix h5 {
    font-size: 22px;
  }
}

@media (max-width: 1160px) and (min-width: 992px) {
  header .col1 {
    margin-right: 4rem;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  .hide-ipad {
    display: none !important;
  }
  .home-ban-section {
    min-height: 60vh;
  }
  .ab-sec {
    margin-top: 2rem;
  }
  .ab-sec .col h2 {
    font-size: 1.5rem;
    padding: 17px 0px;
  }
  .new-sec .news-wrap .news {
    padding: 0 15px;
  }
  .new-sec .news-wrap .news a {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .new-sec .news-wrap {
    padding: 15px 0;
  }
  .team-sec .team-wrap .team {
    max-width: 70rem;
    margin-top: 2rem;
  }
  .blog-sec .blog-content {
    padding-left: 1rem;
  }
  .blog-sec .blog-content .col-left .content {
    padding: 2rem 4rem 4rem 3rem;
  }
  .blog-sec .blog-content .content p {
    margin-bottom: 0rem;
  }
  .blog-sec .blog-content .col-right .content {
    padding: 2rem 4rem 13rem 3rem;
  }
  footer {
    padding-left: 1rem;
  }
  footer .col-content {
    padding: 1rem 1rem 5rem;
  }
  footer .col-link {
    padding: 1rem 1rem;
  }
  footer .col-social {
    padding: 1rem 1rem;
  }
  .col-news {
    display: none;
  }
  .pop-menu .pop-content .left {
    padding: 6rem 3rem;
  }
  .pop-menu .pop-content .left .menu-list ul li {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .pop-menu .pop-content .left .menu-list ul li a {
    font-size: 2rem;
  }
  .pop-menu .pop-content .left .menu-list ul {
    margin-top: 24px;
  }
}

.pr30 {
  padding-right: 30px;
}

.thought-blog {
  -webkit-box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  margin: 0 6px 8px;
}

.thought-blog .blog-img {
  position: relative;
  overflow: hidden;
}

.thought-blog .blog-img:after {
  content: "";
  position: absolute;
  bottom: -148px;
  width: 125%;
  height: 182px;
  background: white;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  right: -19px;
  left: -14px;
}

.thought-blog .blog-text {
  padding: 20px 30px;
}

.thought-blog .blog-text h4 {
  font-size: 1.25rem;
}

.pl30 {
  padding-left: 30px;
}

.our-solutions .our-solutions-bg {
  background: #3ec3b5;
}

.our-solutions .our-solutions-bg .img-wrp {
  padding-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-solutions .our-solutions-bg .img-wrp .img-content {
  background-color: rgba(62, 195, 181, 0.76);
  padding: 50px;
  padding-right: 200px;
}

@media screen and (max-width: 991px) {
  .our-solutions .our-solutions-bg .img-wrp .img-content {
    padding: 20px 15px;
    background-color: #3ec3b5;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .our-solutions .our-solutions-bg .img-wrp .img-content {
    padding: 30px;
  }
}

.our-solutions .our-solutions-bg .img-wrp .img-content h2 {
  color: #fff;
  padding-bottom: 10px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .our-solutions .our-solutions-bg .img-wrp .img-content h2 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 15px;
  }
}

.our-solutions .our-solutions-bg .img-wrp .img-content p {
  margin: 0;
  color: #fff;
}

.our-solutions .our-solutions-bg .cnt-right {
  padding: 15px 50px;
}

@media screen and (max-width: 991px) {
  .our-solutions .our-solutions-bg .cnt-right {
    padding: 15px 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .our-solutions .our-solutions-bg .cnt-right {
    padding: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .our-solutions .our-solutions-bg .cnt-right {
    padding: 10px 20px;
    padding-right: 20px;
  }
}

.our-solutions .our-solutions-bg .cnt-right .strip-text {
  color: #1d1d1d;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 7px;
  display: block;
}

.our-solutions .our-solutions-bg .cnt-right h2 {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .our-solutions .our-solutions-bg .cnt-right h2 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .our-solutions .our-solutions-bg .cnt-right h2 {
    font-size: 28px;
  }
}

.our-solutions .our-solutions-bg .cnt-right p {
  line-height: 32px;
}

.our-solutions .our-solutions-bg .cnt-right .btn-text {
  color: #3ec3b5;
  padding-left: 0;
}

.our-solutions .our-solutions-bg .cnt-right .btn-text span {
  position: relative;
  top: 4px;
  padding-left: 10px;
}

.our-solutions .our-solutions-bg .cnt-right .btn-text span svg {
  height: 20px !important;
}

.our-services {
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 991px) {
  .our-services {
    padding: 15px 0;
    background-position: center center !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1278px) {
  .our-services {
    padding: 50px 0;
    background-position: center center !important;
  }
}

@media screen and (max-width: 767px) {
  .our-services .sec-tit h2 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .our-services p {
    font: size 14px;
    padding-bottom: 0;
  }
}

.our-services .widget-box {
  position: relative;
  min-height: 300px;
  text-align: center;
}

.our-services .widget-box .hover-cnt {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  padding: 30px 50px;
}

.our-services .widget-box .hover-cnt h4 {
  font-size: 34px;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .our-services .widget-box .hover-cnt h4 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-services .widget-box .hover-cnt h4 {
    font-size: 25px;
  }
}

.our-services .widget-box .hover-cnt h5 {
  font-size: 28px;
  margin: 0;
  padding-bottom: 15px;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .our-services .widget-box .hover-cnt h5 {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-services .widget-box .hover-cnt h5 {
    font-size: 19px;
  }
}

.our-services .widget-box .hover-cnt p {
  font-size: 17px;
  color: #353434;
}

@media screen and (max-width: 991px) {
  .our-services .widget-box .hover-cnt p {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-services .widget-box .hover-cnt p {
    font-size: 15px;
  }
}

.our-services .widget-box .hover-cnt .hidden-data {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 1.1s ease-in-out;
  transition: max-height 1.1s ease-in-out;
}

.our-services .widget-box .hover-cnt .btn-link {
  display: block;
  text-decoration: none;
}

.our-services .widget-box .hover-cnt .btn-link .text {
  display: none;
}

.our-services .widget-box .hover-cnt .btn-link span {
  padding-left: 0;
}

@media screen and (max-width: 991px) {
  .our-services .widget-box .hover-cnt {
    padding: 15px;
  }
}

.our-services .widget-box:hover .hidden-data {
  max-height: 300px;
}

.our-services .widget-box:hover .btn-link .text {
  display: inline-block;
  padding-left: 0px;
}

.our-services .widget-box:hover .btn-link .icon {
  position: relative;
  top: 5px;
}

.our-services .widget-box:hover .btn-link span {
  padding-left: 10px;
}

.our-services .fantastic h4 {
  color: #098681;
}

.our-services .fantastic .btn-link span {
  color: #098681;
}

.our-services .fantastic .hover-cnt:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  background: #fff;
  height: 191px;
  content: "";
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.our-services .insurance h4 {
  color: #f89b1c;
}

.our-services .insurance .btn-link span {
  color: #f89b1c;
}

.our-services .insurance .hover-cnt:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  background: #fff;
  height: 191px;
  content: "";
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.our-services .retail h4 {
  color: #0e4681;
}

.our-services .retail .btn-link span {
  color: #0e4681;
}

.our-services .owl-services .owl-dots {
  text-align: center;
  margin-top: 35px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .our-services .owl-services .owl-dots {
    margin-top: 15px;
  }
}

.our-services .owl-services .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 100%;
  margin: 0 10px;
}

.our-services .owl-services .owl-dots .owl-dot.active {
  background-color: #3ec3b5;
}

.clients .owl-clients .item {
  padding: 10px 20px;
}

.clients .owl-clients .item img {
  max-height: 100px;
}

.clients .owl-clients .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: -15px;
  font-size: 30px;
}

.clients .owl-clients .owl-nav button:hover, .clients .owl-clients .owl-nav button:focus {
  outline: none;
}

.clients .owl-clients .owl-nav button.owl-next {
  left: auto;
  right: -15px;
}

#demoslide {
  margin: 0 -20px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  #demoslide {
    margin: 0 -15px;
  }
}

#demoslide .carousel-next {
  margin-left: auto;
  position: absolute;
  right: 0;
  border-radius: 100%;
  width: 50px;
  padding: 5px;
  right: -261px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: rgba(204, 204, 204, 0.33);
  color: #000;
}

@media screen and (max-width: 1199px) {
  #demoslide .carousel-next {
    margin-right: 15px;
    -webkit-transform: none;
            transform: none;
    position: static;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1380px) {
  #demoslide .carousel-next {
    right: -20px;
    background: transparent;
    color: #000;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (min-width: 1381px) and (max-width: 1674px) {
  #demoslide .carousel-next {
    right: -100px;
  }
}

.tit-new h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  padding-left: 32px;
  color: #017373;
}

.tit-new h3::before {
  content: "...";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 42px;
  line-height: 0;
  color: #b3b3b3;
}

.ab2 {
  color: #333;
  font-size: 27px;
  line-height: 1.2;
  margin-top: 15px;
  font-weight: 500;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 2px solid #000;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  padding-left: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: transparent;
}

/* Create an active/current tablink class */
.tab button.active {
  border-color: #ffb700;
  color: #ffb700;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 12px 12px 6px 0;
  border-top: none;
}

.subscribe {
  background-image: url(../img/subscribe.jpg);
  padding: 40px 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe .icon {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 0;
}

.subscribe h4 {
  font-size: 22px;
  margin-bottom: 16px;
}

.subscribe .input-subs {
  padding: 6px 3px;
  width: 100%;
  border-radius: 24px;
  border: none;
  text-align: center;
  margin-bottom: 11px;
}

.subscribe .btn-subs {
  padding: 5px 29px;
  background: #ffb700;
  border-radius: 50px;
  margin-top: 13px;
  -webkit-columns: #ffffff;
          columns: #ffffff;
}

.subscribe .btn-subs:hover {
  background-color: #fff;
}

.accordion .card-header h2 button {
  background: #ffffff;
  padding: 12px 18px;
  font-size: 20px;
  display: block;
  font-size: 16px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.accordion .card-header h2 button:hover {
  text-decoration: none;
}

.accordion .card-header h2 button:focus {
  text-decoration: none;
}

.accordion .card-header h2 button:after {
  color: #333333;
  right: 0;
  content: "";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 18px;
  z-index: 99;
  position: absolute;
  right: 20px;
}

.accordion .card-header h2 button[aria-expanded="true"] {
  background: #ffb700;
}

.accordion .card-header h2 button[aria-expanded="true"]:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 8%;
  right: 20px;
  color: #fff;
}

.white {
  color: #fff !important;
}

.card {
  border-radius: 0;
  background: transparent;
  border: none;
}

.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0;
  border-radius: 0 !important;
}

.saving-content h3 {
  font-size: 32px;
}

.saving-content h4 {
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.sec-cl {
  background-color: #f9f9f9;
}

.ot-wrap {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.ot-wrap img {
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.ot-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(140, 144, 144, 0.721569);
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

.ot-wrap:hover::after {
  background: rgba(60, 180, 194, 0.72);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.ot-wrap:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

.ot-wrap .content {
  position: absolute;
  bottom: 0;
  z-index: 9;
  padding: 0 20px 10px;
  width: 100%;
}

.ot-wrap .content h3 {
  font-size: 19px;
}

.ot-wrap .content p {
  font-size: 14px;
  margin-bottom: 0;
}

.ot-wrap .content a {
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: right;
}

.ot-wrap .content svg {
  width: 25px;
}

@media (min-width: 1200px) {
  .home-ban-section {
    min-height: 425px;
  }
}

@media (min-width: 1440px) {
  .home-ban-section {
    min-height: 600px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  .home-ban-section .ban-bg {
    top: 28px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .home-ban-section {
    min-height: 450px;
  }
  .home-ban-section .ban-bg {
    top: 10px;
  }
  .home-ban-section .col-left {
    width: 52%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .home-ban-section .ban-bg {
    top: 47px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .home-ban-section {
    min-height: 500px;
  }
  .home-ban-section .ban-bg {
    top: 0px;
  }
}

@media screen and (min-width: 1601px) and (max-width: 1680px) {
  .home-ban-section {
    min-height: 540px;
  }
  .home-ban-section .ban-bg {
    top: 15px;
  }
}

.anim {
  overflow: hidden;
}

.anim .anim-left {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 0;
}

.anim .anim-right {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 0;
}

.anim.animate .anim-left {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 1;
}

.anim.animate .anim-right {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 1;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .cnt-right.about-us h4 {
    font-size: 24px !important;
  }
}

.about-widget {
  padding: 20px 15px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 3px;
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .about-widget {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
}

.about-widget h2 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-bottom: 6px !important;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 1600px) {
  .about-widget h2 {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }
}

.about-widget p {
  font-size: 16px;
  line-height: 24px !important;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .about-widget p {
    font-size: 12px;
    line-height: 20px !important;
  }
}

.about-widget .row {
  margin: 0 -10px;
}

.about-widget .row > div {
  padding: 0 10px;
}

.about-widget .img-fix {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .about-widget .img-fix {
    width: 80px;
  }
}

.about-widget .img-fix img {
  max-height: 100px;
}

.about-widget + .about-widget {
  margin-top: 15px;
}

.title-lg {
  padding-bottom: 50px;
}

.title-lg h3 {
  font-size: 32px;
  margin-top: 0;
}

.title-lg p {
  font-size: 18px;
}

.img-wrp-overlay {
  position: relative;
}

.img-wrp-overlay:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff;
  opacity: .3;
}

.lending-box {
  border-bottom: 4px solid;
  background-color: #fff;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .lending-box {
    margin-bottom: 10px;
    border-radius: 6px;
  }
}

.lending-box .lbox-img {
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 991px) {
  .lending-box .lbox-img {
    background-image: none !important;
  }
}

.lending-box .lbox-img h4 {
  margin: 0;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img h4 {
    font-size: 14px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-align: center;
  }
}

.lending-box .lbox-img .lbox-cnt {
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img .lbox-cnt {
    padding-top: 0;
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lending-box .lbox-img .lbox-cnt {
    padding-top: 0px;
  }
}

.lending-box .lbox-img .lbox-cnt p {
  color: #939398;
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img .lbox-cnt p {
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
  }
}

.lending-box .lbox-img svg {
  height: 40px !important;
  display: block;
  margin-left: auto;
  padding-right: 23px;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img svg {
    height: 23px !important;
    margin-top: 0;
    padding: 0;
    padding-top: 5px;
    margin: 0 auto;
  }
}

.lending-box .lbox-img .box-img {
  text-align: center;
}

.lending-box .lbox-img .box-img img {
  max-height: 150px;
}

@media screen and (max-width: 767px) {
  .lending-box .lbox-img .box-img img {
    max-height: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .lending-box .lbox-img .box-img img {
    max-height: 120px;
  }
}

.box-top-padding {
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .box-top-padding {
    padding-top: 0;
  }
}

.lending-box-spacing {
  padding-top: 65px;
}

@media screen and (max-width: 767px) {
  .lending-box-spacing {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .row-5 {
    margin: 0 -5px;
  }
}

@media screen and (max-width: 767px) {
  .row-5 > div {
    padding: 0 5px;
  }
}

.row-lg {
  margin: 0 -25px;
}

@media screen and (max-width: 767px) {
  .row-lg {
    margin: 0 -5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .row-lg {
    margin: 0 -15px;
  }
}

.row-lg > div {
  padding: 0 25px;
}

@media screen and (max-width: 767px) {
  .row-lg > div {
    padding: 0 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .row-lg > div {
    padding: 0 15px;
  }
}

.sec-padding {
  padding-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .sec-padding {
    padding-top: 30px;
  }
}

.lending-col {
  border-color: #ff5a5d;
}

@media screen and (max-width: 767px) {
  .lending-col {
    background-color: #ff5a5d;
  }
}

.lending-col .lbox-img h4 {
  color: #ff5a5d;
}

@media screen and (max-width: 767px) {
  .lending-col .lbox-img h4 {
    color: #000;
  }
}

.lending-col .lbox-img svg {
  color: #ff5a5d;
}

@media screen and (max-width: 767px) {
  .lending-col .lbox-img svg {
    color: #000;
  }
}

.retail-col {
  border-color: #319cd4;
}

@media screen and (max-width: 767px) {
  .retail-col {
    background-color: #319cd4;
  }
}

.retail-col .lbox-img h4 {
  color: #319cd4;
}

@media screen and (max-width: 767px) {
  .retail-col .lbox-img h4 {
    color: #000;
  }
}

.retail-col .lbox-img svg {
  color: #319cd4;
}

@media screen and (max-width: 767px) {
  .retail-col .lbox-img svg {
    color: #000;
  }
}

.insurance-col {
  border-color: #ffb700;
}

@media screen and (max-width: 767px) {
  .insurance-col {
    background-color: #ffb700;
  }
}

.insurance-col .lbox-img h4 {
  color: #ffb700;
}

@media screen and (max-width: 767px) {
  .insurance-col .lbox-img h4 {
    color: #000;
  }
}

.insurance-col .lbox-img svg {
  color: #ffb700;
}

@media screen and (max-width: 767px) {
  .insurance-col .lbox-img svg {
    color: #000;
  }
}

.learning-col {
  border-color: #a1d461;
}

@media screen and (max-width: 767px) {
  .learning-col {
    background-color: #a1d461;
  }
}

.learning-col .lbox-img h4 {
  color: #a1d461;
}

@media screen and (max-width: 767px) {
  .learning-col .lbox-img h4 {
    color: #000;
  }
}

.learning-col .lbox-img svg {
  color: #a1d461;
}

@media screen and (max-width: 767px) {
  .learning-col .lbox-img svg {
    color: #000;
  }
}

.bg-img-sm {
  height: 243px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .bg-img-sm {
    height: 200px;
  }
}

.bg-img-lg {
  height: 516px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .bg-img-lg {
    height: 200px;
    background-position: center;
  }
}

.title-padding {
  padding-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .title-padding {
    padding-bottom: 16px;
  }
}

.finance-sec h4 {
  font-size: 32px;
  margin-top: 0;
  padding-bottom: 0px;
}

.wrap4 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px !important;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .wrap4 h3 {
    font-size: 23px !important;
    padding-bottom: 0px;
  }
}

.sec-cl {
  padding-bottom: 21px !important;
}

.owl-thought-home .ot-wrap {
  margin: 0;
  border-radius: 6px;
  overflow: hidden;
  height: 170px;
}

.owl-thought-home .ot-wrap:after {
  background: rgba(6, 144, 129, 0.729412);
  border-radius: 6px;
}

.owl-thought-home .owl-stage {
  left: -20px;
}

.owl-thought-home .owl-dots {
  text-align: center;
  padding-top: 5px;
}

.owl-thought-home .owl-dots .owl-dot {
  display: inline-block;
}

.owl-thought-home .owl-dots .owl-dot:hover, .owl-thought-home .owl-dots .owl-dot:focus {
  outline: none;
}

.owl-thought-home .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #3ec3b5;
  background-color: transparent;
  display: block;
  margin: 0 2px;
}

.owl-thought-home .owl-dots .owl-dot.active span {
  background-color: #3ec3b5;
}

.for-mobile {
  display: none !important;
}

.for-desktop {
  display: block;
}

@media screen and (max-width: 767px) {
  .ot-wrap {
    margin-bottom: 15px;
  }
  .ot-wrap .content h3 {
    font-size: 16px;
  }
  .blog-sec .blog-content .col-left .content, .blog-sec .blog-content .col-right .content {
    padding: 15px;
  }
  .blog-sec .blog-content .col-left .content h3, .blog-sec .blog-content .col-right .content h3 {
    font-size: 20px;
  }
  .blog-sec .blog-content .col-left {
    margin-bottom: 17px;
  }
  .fix-mob {
    min-width: 75px !important;
    margin-left: -11px !important;
  }
  .home-ban-section {
    overflow: hidden;
  }
  .home-ban-section .ban-bg {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translate(-7%, 10px);
            transform: scale3d(1.2, 1.2, 1.2) translate(-7%, 10px);
    width: 100%;
  }
  .home-ban-section .hero-img {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translate(-7%, 10px);
            transform: scale3d(1.2, 1.2, 1.2) translate(-7%, 10px);
    padding-top: 20px;
    z-index: 9;
  }
  .home-ban-section .hero-img svg path {
    stroke: #000;
    stroke-width: 3;
  }
  .home-ban-section-new {
    padding-bottom: 10px;
    padding-top: 30px;
    margin-top: 60px;
    background-color: rgba(62, 195, 181, 0.52);
  }
  .home-ban-section-new .col-left {
    text-align: left;
    padding-top: 0;
    z-index: 9;
  }
  .home-ban-section-new .col-left p {
    margin-bottom: 10px;
    color: #000;
  }
  .for-mobile {
    display: block !important;
  }
  .for-desktop {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .title-lg h3, .saving-content h3, .text-fix h5 {
    font-size: 20px;
    line-height: 27px;
  }
  .title-lg h3 {
    margin: 0;
  }
  .text-fix h4, .module1-content h3, .ab-lending h2, .finance-sec h4 {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .thought-blog .blog-text {
    padding: 15px;
  }
  .saving-content h4, .wrap2 h5, .text-fix h6, .thought-blog .blog-text h4 {
    font-size: 17px;
  }
  .saving-content h4 {
    margin-bottom: 0px;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .mob-margin {
    margin: 0;
    padding-bottom: 20px;
  }
  .sec-pad {
    padding: 30px 0 !important;
    padding-top: 25px !important;
  }
  .sec-pad .pb-3 {
    padding-bottom: 0px !important;
  }
  p, .about-widget p, .wrap2 ul li p {
    font-size: 14px;
  }
  .wrap2 .list-wrp li, .module1-content li {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 22px;
  }
  .ab-lending p {
    padding-bottom: 10px;
  }
  .about-widget p {
    line-height: 20px !important;
  }
  .home-ban-section .btn-primary {
    padding: 5px 15px;
    height: 35px;
    font-size: 14px;
  }
  .btn-primary, .btn-link {
    padding: 5px 9px;
    height: 33px;
    font-size: 13px;
  }
  .btn-primary span, .btn-link span {
    padding-left: 8px;
  }
  .btn-primary span svg, .btn-link span svg {
    width: 16px;
  }
  .btn-link {
    font-size: 13px;
    padding-left: 0;
  }
  .btn-link span {
    padding-left: 8px;
    position: relative;
    top: 4px;
  }
  .btn-link span svg {
    width: 16px;
  }
  .wrap2 span {
    width: auto;
  }
  .about-widget .img-fix {
    width: auto;
  }
  .title-lg p {
    font-size: 15px;
  }
  .blog-sec .blog-content .col-left .content h3, .blog-sec .blog-content .col-right .content h3 {
    font-size: 20px;
    line-height: 27px;
  }
  .blog-sec {
    padding: 30px 0;
  }
  header .head-content .toggle-col .toggle-btn svg {
    width: 32px;
  }
  .clients .owl-clients .item img {
    max-height: 66px;
    width: auto;
    margin: 0 auto;
  }
  footer .col-social {
    padding: 0 20px;
  }
  .mob-margin {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 991px) and (max-width: 767px) {
  .mob-margin {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px) {
  .pop-menu .pop-content .right .content h3 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .pop-menu .pop-content .right .content p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .pop-menu .pop-content .right .content a {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .pop-menu .pop-content .right .content .social {
    margin-bottom: 8px;
  }
  .pop-menu .pop-content .left {
    padding-bottom: 10px;
  }
  .pop-menu .pop-content .left .menu-list ul li a span svg {
    width: 18px;
    position: relative;
    top: 4px;
  }
  footer p {
    margin: 0;
  }
  footer .col-link {
    padding-bottom: 11px;
  }
  footer .col-social .social-list ul li a {
    background-color: #000000;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 100%;
    text-align: center;
    margin: 0;
  }
  footer .col-social .social-list ul li a svg {
    width: 18px;
    color: #fff;
    position: relative;
    top: 5px;
  }
  .finance-sec {
    padding: 27px 0px;
    padding-bottom: 15px;
  }
  .wrap2 .list-wrp {
    margin: 0;
  }
  .wrap2 .list-wrp li {
    padding-left: 15px;
    position: relative;
  }
  .wrap2 .list-wrp li:before {
    width: 10px;
    left: 0px;
  }
  .module1-content {
    margin: 0;
  }
  .module1-content li {
    padding-left: 15px;
    position: relative;
  }
  .module1-content li:before {
    width: 10px;
    left: 0px;
  }
  .wrap4.container, .wrap2.container {
    padding: 0;
    max-width: 100%;
  }
  .ab-lending p {
    padding: 0;
  }
  .module1-content svg {
    width: 29px;
    position: relative;
    top: 12px;
    left: 3px;
  }
  .module1-content ul {
    padding-left: 0px;
    margin: 0;
  }
  .module1-content ul li:before {
    margin: 0;
  }
  .thought-blog {
    margin: 6px 0;
  }
  .finance-sec ul {
    margin: 0;
  }
  .finance-sec ul li:last-child a {
    margin: 0;
  }
  .finance-sec ul li h5 {
    font-size: 16px !important;
    margin-bottom: 8px !important;
  }
  .wrap4 .mb30.pl30, .wrap4 .mb30.pr30 {
    margin-bottom: 0 !important;
    padding: 0;
    text-align: center;
  }
  .sec-padd-sm {
    padding: 15px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ot-wrap {
    margin: 0 -5px;
    margin-bottom: 15px;
  }
  .ot-wrap .content h3 {
    font-size: 16px;
  }
  .bg-img-lg {
    height: 501px;
  }
  .home-ban-section {
    overflow: hidden;
  }
  .home-ban-section .ban-bg {
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translate(-20%, 10px);
            transform: scale3d(1.2, 1.2, 1.2) translate(-20%, 10px);
    width: 100%;
    overflow: hidden;
  }
  .home-ban-section .hero-img {
    -webkit-transform: scale3d(1.4, 1.4, 1.4) translate(-20%, 10px);
            transform: scale3d(1.4, 1.4, 1.4) translate(-20%, 10px);
    padding: 40px 0;
  }
}

@media screen and (max-width: 1199px) {
  .title-lg h3 br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */