.w-12 {
    width: 3rem;
}
.h-12 {
    height: 3rem;
}
img{
    max-width: 100%;
}
.mb-4 {
    margin-bottom: 1rem;
}
.w-20 {
    width: 5rem;
}
.text-brand {
    color: #ffe66f;
    width:70px;
    top: -14px;
}
.absolute {
    position: absolute;
}
.-mt-6 {
    margin-top: -1.5rem;
}
.-ml-4 {
    margin-left: -1rem;
}
.h-20 {
    height: 5rem;
}
.wrap2 ul{
    padding-left:0;
    margin:0;
}
.wrap2 ul li{
    display: block;
    list-style-type: none;   
    font-size:14px;
    
}
.wrap2 ul li a{
    color: #2A2A32;
    display: block;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,.1);
    padding: 15px 9px;
    text-decoration: none;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 3px;
    width: 100%;
}
.wrap2 ul li:last-child a{
    margin:0;
}
.wrap2 ul li p span{
    display:block;
    font-size:13px;
}
.wrap2 span{
    vertical-align:middle;
    width: 48px;
}
.wrap2 ul li .text
{
    font-size: 16px;
    vertical-align: middle;
    padding-left: 5px;
    margin:0;
    width: calc(100% - 48px);
}
.wrap2 ul li .text h2{
    font-size: 17px;
}
.wrap2 ul li .text p{
    margin-bottom: 0;
}
.content-md p{
    font-size:16px;
    font-weight: 400;
    line-height: 26px;
}
.wrap2 .list-wrp li{
    font-size:16px;
    padding-left:40px;
    position: relative;
    margin-bottom:30px;
    line-height: 26px;
    text-align: left;
}
.wrap2 .list-wrp li:last-child{
    margin:0;
}
.wrap2 .list-wrp li:before{
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    left: 0px;
    top: 12px;
    background: #000;
}
.wrap2-h4 h4{
    font-size: 20px;
    line-height: 1.6;
}
.wrap2{
    padding: 0px 120px;
}
.wrap2-h4{
    padding-left: 50px;
    padding-top: 20px;
}

.list-1 li:before {
    position: absolute;
    left: 0;
    margin-left: 20px;
    content: "—";
}
.module1-content li
{
    list-style-type: none;
    margin: 8px 0px;
}
.module1-content h6{
    margin-top: -.5rem;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 25px;
}
.module1-content h5{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.module1-content h3{
    font-family: serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.05;
}
.module1-content p{
    font-size: 20px;
    margin: 15px 0 48px;
    font-weight: 300;
}
.module1-content ul{
    padding: 0 0 0 24px;
    margin-left: 20px;
}

.sec4
{
    padding-top: 80px;
}
.wrap4-img img{
    max-width: 100%;
}
.module1-inside{
    position: relative;
    margin-bottom:20px;
}
.wrap4-img{
    padding-top: 120px;
    padding-left: 80px;
}
.sec1
{
    padding-top: 130px;
    background-color: #fdfd54;
    padding-bottom: 130px;
}
.wrap1-content{
    font-size: 16px;
    font-weight: 300;
}
.wrap1-content h5{
    padding-bottom: 10px;
}
.wrap1-content{
    padding-top: 10px;
}
.wrap1-content ul{
    padding-left:15px;
}

#anim{
    width: 100%;
}
.product-list{
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding:0;
    margin: 0 -5px;
}
.product-list li{
    list-style: none;
    width:25%;
}
.product-list a{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding:40px 15px;
    display: block;
    text-align: center;
    background: #fff;
    text-decoration: none;
    margin: 5px;
}
.product-list a h4{
    color:#000;
    font-size:20px;
    margin:0;
    padding-bottom: 20px;
} 
.product-list a span i{ 
    font-size:48px;
    color: #ffd24a;  
}
.product-list a:hover{
    background: #3ec3b5;
}
.product-list a:hover i, .product-list a:hover h4{
    color:#fff;
}
.text-fix h5{
    font-size:36px;
}
.text-fix h4{
    font-family: serif;
    font-size: 40px;
}
.text-fix h6{
    font-size: 24px;
    padding: 10px 0;
}
.sec-pad-eq{
    padding:50px 0!important
}
/* Media Query Starts */
@media screen and (max-width:991px) {
    .sec-pad-eq{
        padding:30px 0!important
    }
    .wrap2 .list-wrp li, .module1-content li{
        margin-bottom: 10px!important
    }
}
@media screen and (min-width:1200px) and (max-width:1600px) {
	.h-12 {
        height: 2rem;
    }
    .w-12 {
        width: 2rem; 
    }
    .wrap2 ul li p {
        font-size: 18px;
}
.wrap2-h4 {
    padding-left: 50px;
    padding-top: 0px;
}
.wrap2-h4 h4 {
    font-size: 18px;
}
.module1-content h3{
    font-size: 30px;
}
.module1-content p {
    font-size: 15px;
    margin: 5px 0 25px;
}
.module1-content li {
    font-size: 14px;
}
.module1-content h5 {
    font-size: 18px;
    margin-bottom: 5px;
}
.wrap4-img {
    padding-top: 0;
    padding-left: 0;
}
.product-list a h4{
    font-size: 14px;
    padding-bottom:10px;
}
.product-list a{
    padding:10px;
}
}
